.navbar-brand {
  color: red !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2rem !important;
}

#naviContainer {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-toggler-icon {
  background-color: white;
}

.nav-link {
  color: white !important;
  opacity: 100%;
}
